table#paramTable {
    counter-reset: rowNumber;
}

table#paramTable tr:not(:first-child) {
    counter-increment: rowNumber;
}

table#paramTable tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}